<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Mongo Scraper</span>
  <a href="">Home</a>
  <a href="">Saved Articles</a>
  <button id="scrape">Scrape New Articles</button>
  <button id="clear">Clear Articles</button>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">New York Times Edition</p>
  </div>
</div>

<div class="alert alert-warning" role="alert">
    <p>Uh.Oh. Looks like we don't have any new articles.</p>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">What would you like to do?</h5>
    <a href="#" class="card-link" id="scrape">Try Scraping New Articles</a>
    <a href="#" class="card-link" id="saved">Go to Saved Articles</a>
  </div>
</div>

<div class="container">
    
</div>